@config "../../../tailwind.config.ts";
@import "tw-animate-css";
@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-pretty {
    text-wrap: pretty;
  }
}

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 200 25% 5%;
    --card: 0 0% 100%;
    --card-foreground: 200 25% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 25% 5%;
    --primary: 200 38% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 33% 97%;
    --secondary-foreground: 200 20% 12%;
    --muted: 210 20% 96%;
    --muted-foreground: 200 12% 35%;
    --accent: 200 20% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 18% 87%;
    --input: 210 18% 87%;
    --ring: 200 38% 33%;
    --radius: 1rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
